

 <% @appetizers.each do |appetizer| %>

  <div class="span3">

     <div class="tile img-pad">
        <a href="/appetizers/<%=appetizer.id%>">
        <img alt="watermelon salsa recipe" src="<%=appetizer.image_link%>">
        </a>
      <a href="/appetizers/<%=appetizer.id%>"> <%= truncate(appetizer.title, :length => 20) %> </a>
     </div>

  </div>

  <div style="padding: 10px;"></div>
<% end %>

 <style type="text/css">
   .span3 {
       width: 257px;
   }
  .img-pad {
       padding: 10px;
   }

 </style>

