

 <% 3.times.each do |t| %>



  <div class="span3">

     <div class="tile img-pad">
        <a href="/recipes-and-meals/recipes/sweet-corn-gazpacho/">
        <img alt="watermelon salsa recipe" src="http://cdn.peapod.com/site/60/0/0/0/4642f2a1-d678-4877-a0a9-d9455c329117.jpg">
        </a>
      <a href="/recipes-and-meals/recipes/sweet-corn-gazpacho/"> watermelon salsa </a>
     </div>

  </div>


  <div class="span3">
     <div class="tile img-pad">
        <a href="/recipes-and-meals/recipes/sweet-corn-gazpacho/">
        <img alt="sweet corn gazpacho recipe" src="http://cdn.peapod.com/site/61/0/0/0/d47e5304-ca38-4835-8389-3e174baae2de.jpg">
        </a>
      <a href="/recipes-and-meals/recipes/sweet-corn-gazpacho/"> sweet corn gazpacho </a>
     </div>

  </div>


  <div class="span3">
      <div class="tile img-pad">
        <a href="/recipes-and-meals/recipes/sweet-corn-gazpacho/">
        <img alt="sweet corn gazpacho recipe" src="http://cdn.peapod.com/site/61/0/0/0/d47e5304-ca38-4835-8389-3e174baae2de.jpg">
        </a>
      <a href="/recipes-and-meals/recipes/sweet-corn-gazpacho/"> creamy cucumber bites  </a>
     </div>
  </div>



  <div style="padding: 10px;"></div>
<% end %>

 <style type="text/css">
   .span3 {
       width: 257px;
   }
  .img-pad {
       padding: 10px;
   }

 </style>

